.forgotPassword{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.forgotPassword .btn {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 255);
    transition: 0.5s;
    width: 100%;
    margin-top: 20px;
}

.forgotPassword .btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 255);
}




.forgotPassword h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgb(0, 0, 255);

}

.forgotPassword input{
    width: 100%;
    border: 1px solid rgb(0, 0, 255);
    outline: none;
    padding: 10px ;
    transition: 0.5s;
    border-radius: 5px;
    resize: none;
    color: rgb(0, 0, 255);
    font-size: 1.1rem;

}

.otp-container{
    width: 30%;
    margin: auto;
}
.forgotPassword .otp{
    display: flex;
    gap: 10px;
}

.otp input{
    text-align: center;

}

.otp-email{
    margin: 10px 0;
}

.password-reset{
    width: 25%;
    margin: 0 auto;
}

.password-reset input {
    margin: 10px 0;
}

@media (max-width: 768px) {

    .forgotPassword form  {
        width: 80%;
        margin:  0 auto;
    }
    
    .otp-container{
        width: 90%;
    }

    .password-reset{
        width: 70%;
    }
}