.application-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.application-wrapper .btn {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 255);
    transition: 0.5s;
}

.application-wrapper .btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 255);
}


.application-wrapper form div {
    display: block;
    margin-bottom: 20px;
    color: rgb(0, 0, 255);

}

.application-wrapper form div h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.application-wrapper input{
    width: 100%;
    border: 1px solid rgb(0, 0, 255);
    outline: none;
    padding: 10px ;
    transition: 0.5s;
    border-radius: 5px;
    resize: none;
    color: rgb(0, 0, 255);
    font-size: 1.1rem;

}

::placeholder{
    color: rgb(121, 121, 248);
}
.application-wrapper input:focus{
    border: 1px solid rgb(0, 0, 255);
}

/* Remove border from select input */
select {
    border: none;
    background-color: transparent; /* Make background transparent if needed */
    color: #333; /* Change text color */
    font-size: 16px; /* Change font size */
    font-family: Arial, sans-serif; /* Set custom font */
    padding: 10px; /* Add padding */
    appearance: none; /* Remove default browser styling (works on most browsers) */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
  }
  
  /* Custom arrow */
  select::-ms-expand {
    display: none; /* Remove default arrow for Internet Explorer */
  }
  
  /* Custom styling for the container of select */
  .select-wrapper {
    position: relative;
    display: inline-block;
  }
  
  /* Add custom arrow */
  .select-wrapper::after {
    content: '▼'; /* You can use any character for the arrow */
    font-size: 18px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the arrow from blocking the click */
  }
  


@media (max-width: 768px) {

    .application-wrapper form  {
        width: 80%;
        margin:  0 auto;
    }
    
}